
@{
    ViewData["Title"] = "404";
    Layout = "_LoginLayout";
}

    <div class="container-fluid h-custom mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-7 col-xl-6">
                <img src="~/FlexStart/assets/img/error-image/9.png"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-5">
                <h1>404</h1>
                <h5>Page Not Found</h5>
            </div>
        </div>
    </div>

