@{
    ViewData["Title"] = "e-cuti";
    Layout = "_FrontLayout";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Modern solutions for leaving request</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Make a leave request quickly without spending much time. Just one click everithing is done. You can make a leave request everytime and everywhere you want...</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-left text-lg-start">
                        <a href="/Login" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Login</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="FlexStart/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


@section HomeSec {
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="~/img/logo-ecuti-200-removebg-preview.png" alt="">
                        <span>e-Cuti</span>
                    </a>
                    <p>Best solution for effectivity and efficiency.</p>
                    <div class="social-links mt-3">
                        <a href="twitter.com" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="facebook.com" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="linkedin.com" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Contact us</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        @*<li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>*@
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        @*<li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>*@
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        APL Tower Lantai 37, Jl. Letjen S. Parman <br>
                        RT.12/RW.6, Tj. Duren Sel. <br>
                        Daerah Khusus Ibukota Jakarta 11470<br>
                        Indonesia <br>
                        <strong>Phone:</strong> +62 5589 55488 55<br>
                        <strong>Email:</strong> ecuti@gmail.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>
}