
@{
    ViewData["Title"] = "Admin - Employee";
    Layout = "_MainLayout";
}

    <div class="container">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>
                        <h2>Employee Data</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="card col-12 pt-3 pb-3">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="dataTbl">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Division</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

@section Modal{
    <!-- Insert Modal -->
    <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="insertEmployee" class="needs-validation" novalidate autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-12">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Name <i class="text-danger">*</i></label>
                                <input required type="text" class="form-control" name="FirstName" id="CName" placeholder="Enter Full Name">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill your fullname</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Gender <i class="text-danger">*</i></label>
                                <select required class="custom-select" name="Gender" id="CGender">
                                    <option value="">== Choose Your Gender ==</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Male or Female</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="code_group">Email <i class="text-danger">*</i></label>
                                <input autocomplete="off" required type="email" class="form-control email" name="Email" id="CEmail" placeholder="Enter Email">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill valid email address</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="code_group">Password <i class="text-danger">*</i></label>
                                <input autocomplete="off" required type="password" class="form-control" name="Password" id="CPassword" placeholder="Enter Password">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill password</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="code_group">Phone Number <i class="text-danger">*</i></label>
                                <input required type="text" class="form-control phoneNumber" name="Phone" id="CPhoneNumber" placeholder="Enter Phone">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill your phone number</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Role <i class="text-danger">*</i></label>
                                <select required class="custom-select CRoleId" name="CRoleId" id="CRoleId">
                                    <option value="">== Choose Your Role ==</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Role</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Manager <i class="text-danger">*</i></label>
                                <select required class="custom-select CManagerId" name="Gender" id="CManagerId">
                                    <option value="">== Choose Your manager ==</option>
                                 
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Manager</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Divisi <i class="text-danger">*</i></label>
                                <select required class="custom-select CDivisiId" name="Gender" id="CDivisiId">
                                    <option value="">== Choose Your Role ==</option>
                                    
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Division</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="button" class="btn btn-warning" onclick="formReset()" value="Reset">
                        <button type="submit" class="btn btn-primary" id="btnInput">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateEmployee" class="needs-validation" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-12">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Name <i class="text-danger">*</i></label>
                                <input required type="hidden" class="form-control" name="" id="employee_id" placeholder="">
                                <input required type="text" class="form-control" name="" id="UName" placeholder="Enter Full Name">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill your fullname</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Gender <i class="text-danger">*</i></label>
                                <select required class="custom-select" name="Gender" id="gend">
                                    <option value="">== Choose Your Gender ==</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Male or Female</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="code_group">Email<i class="text-danger">*</i></label>
                                <input required type="email" class="form-control " name="email" id="UPEmail" placeholder="Enter email">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill your Email</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="code_group">Phone Number <i class="text-danger">*</i></label>
                                <input required type="text" class="form-control " name="Phone" id="UPhoneNumber" placeholder="Enter Phone">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Fill your phone number</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Role <i class="text-danger">*</i></label>
                                <select required class="custom-select CRoleId" name="CRoleId" id="URoleId">
                                    <option value="">== Choose Your Role ==</option>
                                   
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Role</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Manager <i class="text-danger">*</i></label>
                                <select required class="custom-select CManagerId" name="Manager" id="UManagerId">
                                    <option value="">== Choose Your manager ==</option>

                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Manager</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Divisi <i class="text-danger">*</i></label>
                                <select  class="custom-select CDivisiId" name="Gender" id="UDivisiId">
                                    <option value="">== Choose Your Role ==</option>
                                 
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">Choose Division</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"   id="btnUpdate">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}



@section CSSnya {

}

@section JSnya {
    <script src="~/js/employee.js"></script>
}