
@{
    ViewData["Title"] = "Leave Request Confirmation - Manager";
    Layout = "_MainLayout";
}

    <div class="container-fluid">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-mail-open-file icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>
                        <h2>Leave Confirmation</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-12 pt-3 pb-3">
                <table class="table table-bordered table-hover" id="dataTbl">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Employee</th>
                            <th>Category</th>
                            <th>Approval Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

@section Modal{

    <!-- update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="accReqForm" onsubmit="return false" class="accReqForm" novalidate>
                    <div class="modal-header">
                        @*<h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>*@ <h5 class="modal-title" id="t-request_id"></h5> &nbsp; &nbsp; <h5 id="t-approvalStatusName" class=""></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-12">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Employee</label>
                                <input required type="hidden" class="form-control" name="" id="request_ids">
                                <input readonly type="text" class="form-control" name="" id="employee_id">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Leave Category</label>
                                <input readonly type="text" class="form-control" name="" id="category_id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Start Date</label>
                                <input readonly type="date" class="form-control" name="" id="startDate">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">End Date</label>
                                <input readonly type="date" class="form-control" name="" id="endDate">
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="form-group col-sm-6">
                                <label for="group_name">Approval Status</label>
                                <input readonly type="text" class="form-control" name="" id="approvalStatusName">
                            </div>*@
                            <div class="form-group col-sm-12">
                                <label for="group_name">File</label>
                                <a id="downloadFileBukti" href="" download="" class="form-control btn btn-info" onclick=""><i class="fas fa-download"></i> Download File</a>                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea readonly class="form-control" id="leavingMessage" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlTextarea1">Approval Message</label>
                                <textarea required class="form-control" id="approvalMessage" rows="3"></textarea>
                                <div class="invalid-feedback emailfeedbackInsert">
                                    Tolong Kirim Message
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="modalFooterUpdate">
                        
                        <button type="submit" class="btn btn-danger"  onclick="RejectReq()"><i class="fas fa-times-circle"></i> Reject</button>
                        <button type="submit" class="btn btn-warning" onclick="RevisionReq()" ><i class="fas fa-exclamation-circle"></i> Revision</button>
                        <button type="submit" class="btn btn-primary" id="btnApprove" onclick="ApproveReq()"><i class="fas fa-check-circle"></i> Approve</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}


@section CSSnya {
    
}

@section JSnya {
    <script src="~/js/leaveRequestConfirmation.js"></script>
}