
@{
    ViewData["Title"] = "Request Leave";
    Layout = "_MainLayout";
}
@using Microsoft.AspNetCore.Http


<div class="container-fluid">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-back-2 icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    <h2>Leave Request</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="card col-12 pt-3">
            <h3>Requester Information</h3>
            <table>
                <tbody>
                    <tr>
                        <td width="100px">Requester</td>
                        <td> : </td>
                        <td> @Context.Session.GetString("employee_id") - @Context.Session.GetString("name") </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td> : </td>
                        <td id="nama-divisi"></td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td> : </td>
                        <td> @Context.Session.GetString("role_name") </td>
                    </tr>
                    <tr>
                        <td>Manager</td>
                        <td> : </td>
                        <td id="manager-name"></td>
                    </tr>
                    <tr>
                        <td>Sisa Cuti</td>
                        <td> : </td>
                        <td id="sisa-cuti"></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <h2>Leave Detail</h2>
            <form class="inputLeaveForm" novalidate id="inputLeave" enctype="multipart/form-data">
                @*<input type="hidden" class="form-control" id="approvalStatus" placeholder="approval status" value="Menunggu">
            <input type="hidden" class="form-control" id="employee_id" placeholder="employee id" value="Employee0006">*@
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="exampleFormControlSelect1">Leave Category</label>
                        <select class="form-control" id="category_id">
                        </select>
                        <div class="invalid-feedback emailfeedbackInsert">
                            WajibCategory
                        </div>
                    </div>
                    @*<div class="form-group col-sm-3">
                    <label for="exampleFormControlInput1">Start Date</label>
                    <input required type="text" class="form-control" id="start_date" placeholder="Start Date">
                    <div class="invalid-feedback emailfeedbackInsert">
                        Start Date Wajib
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label for="exampleFormControlInput1">End Date</label>
                    <input required type="text" class="form-control" id="end_date" placeholder="End Date">
                    <div class="invalid-feedback emailfeedbackInsert">
                        End data Wajib
                    </div>
                </div>*@
                    <div class="form-group col-sm-4">
                        <label for="exampleFormControlInput1">Start Date</label>
                        <input required type="text" name="daterange" class="form-control inputDate" id="dateLeave" value="01/01/2020 - 01/10/2020" />

                        <div class="invalid-feedback emailfeedbackInsert">
                            Start Date Wajib
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="exampleFormControlFile1">Upload File</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input required type="file" class="custom-file-input" id="fileBukti"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" id="fileBuktiLabel">Choose file</label>
                            </div>
                        </div>
                        @*<input required type="file" class="form-control-file" id="fileBukti">*@
                        <div class="invalid-feedback emailfeedbackInsert">
                            File Wajib
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="exampleFormControlTextarea1">Notes</label>
                        <textarea required class="form-control" id="leavingMessage" rows="3"></textarea>
                        <div class="invalid-feedback emailfeedbackInsert">
                            File Wajib
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="button" class="btn btn-warning" onclick="formReset()" value="Reset">
                    <button type="submit" class="btn btn-primary" id="btnInput">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section CSSnya{
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
}

@section JSnya{
    <script src="~/js/tools.js"></script>
    
    <script src="~/js/leaveRequest.js"></script>
    
}
