
@{
    ViewData["Title"] = "Request Leave";
    Layout = "_MainLayout";
}
@using Microsoft.AspNetCore.Http


<div class="container">
    <h1>Leave Request</h1>
    <div class="row pt-3">
        <div class="card col-12 pt-3">
            <h3>Requester Information</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Requester</td>
                        <td> : </td>
                        <td> 12343 - Puan Maharani </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td> : </td>
                        <td> ADD </td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td> : </td>
                        <td> Employee </td>
                    </tr>
                    <tr>
                        <td>Manager</td>
                        <td> : </td>
                        <td> Joko Wi </td>
                    </tr>
                    <tr>
                        <td>Sisa Cuti</td>
                        <td> : </td>
                        <td> 12 </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <h2>Leave Detail</h2>
            <form class="needs-validation" novalidate id="inputLeave" enctype="multipart/form-data">
                @*<input type="hidden" class="form-control" id="approvalStatus" placeholder="approval status" value="Menunggu">
                    <input type="hidden" class="form-control" id="employee_id" placeholder="employee id" value="Employee0006">*@
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="exampleFormControlSelect1">Leave Category</label>
                        <select class="form-control" id="category_id">
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="exampleFormControlInput1">Start Date</label>
                        <input type="text" class="form-control" id="start_date" placeholder="Start Date">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="exampleFormControlInput1">End Date</label>
                        <input type="text" class="form-control" id="end_date" placeholder="End Date">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="exampleFormControlFile1">Upload File</label>
                        <input type="file" class="form-control-file" id="fileBukti">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="exampleFormControlTextarea1">Notes</label>
                        <textarea class="form-control" id="leavingMessage" rows="3"></textarea>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="button" class="btn btn-warning" onclick="formReset()" value="Reset">
                    <button type="submit" class="btn btn-primary" id="btnInput">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="~/js/tools.js"></script>
<script>
    function formReset() {
        document.getElementById("inputLeave").reset();
    }
    $('#start_date').datepicker({
        onSelect: function (dateText, inst) {
            $('#end_date').datepicker('option', 'minDate', new Date(dateText));
        },
    });

    $('#end_date').datepicker({
        onSelect: function (dateText, inst) {
            $('#start_date').datepicker('option', 'maxDate', new Date(dateText));
        }
    });

    $(document).ready(() => {
        GetCategory()
    });

    function GetCategory() {
        $.ajax({
            url: "https://localhost:44302/api/category"
        }).done(e => {
            e.forEach(elem => {
                $("#category_id").append(`<option value="${elem.category_id}">${elem.nameCategory}</option>`)
            })
        })
    }

    $("#inputLeave").submit(async function (e) {
        e.preventDefault();

        const fileBukti = document.querySelector('#fileBukti').files[0];
        const fileBuktiExt = getExtFile(fileBukti.name)

        var obj = {
            "employee_id": "Employee0015",
            "category_id": parseInt($("#category_id").val()),
            "startDate": dateStringToDate($("#start_date").val()),
            "endDate": dateStringToDate($("#end_date").val()),
            "leavingMessage": $("#leavingMessage").val(),
            "tipeFileBukti": fileBuktiExt,
            "fileBukti": await toBase64(fileBukti)
        }

        console.log(obj)
        $.ajax({
            url: "https://localhost:44302/api/leavingrequest",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(obj),
        }).done((result) => {
            console.log(result)
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: result.message,
                footer: '<a href="">Why do I have this issue?</a>'
            })
            formReset();
        }).fail((error) => {
            console.log(error)
        })
    })
</script>