
@{
    ViewData["Title"] = "Leave Histories";
    Layout = "_MainLayout";
}

    <div class="container">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>
                        <h2>Leave Histories</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="card col-12 pt-3 pb-3">
                <table class="table table-bordered table-hover" id="dataTbl">
                    <thead>
                        <tr>
                            <td>Request Time</td>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <th>Employee</th>
                            <th>Category</th>
                            <th>Approval Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

@section Modal{

    <!-- update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateReq" class="updateLeaveForm" novalidate>
                    <div class="modal-header">
                        @*<h5 class="modal-title" id="exampleModalLabel">Edit Data&nbsp;</h5>*@ <h5 class="modal-title" id="t-request_id"></h5> &nbsp; &nbsp; <h5 id="t-approvalStatusName" class=""></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-12">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @*<label for="group_name">Leave Request</label>*@
                                <input hidden type="text" class="form-control" name="" id="request_id">
                                <input hidden type="text" class="form-control" name="" id="employee_id">
                                <input hidden type="text" class="form-control" name="" id="namaFileBukti">
                                <input hidden type="text" class="form-control" name="" id="tipeFileBukti">
                                <label for="group_name">Start Date</label>
                                <input required type="text" name="daterange" class="form-control inputDate" id="dateLeave" value="01/01/2020 - 01/10/2020" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">Leave Category</label>
                                <select required class="custom-select" name="" id="category_id">
                                    <option value="">== Choose Leave Category ==</option>

                                </select>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="form-group col-sm-6">
                                <label for="group_name">Start Date</label>
                                <input required type="text" name="daterange" class="form-control inputDate" id="dateLeave" value="01/01/2020 - 01/10/2020" />
                            </div>
                           *<div class="form-group col-sm-6">
                                <label for="group_name">Approval Status</label>
                                <input readonly type="text" class="form-control" name="" id="approvalStatusName">
                            </div>
                        </div>*@
                        <div class="row">

                            <div class="form-group col-sm-6">
                                <label for="group_name">File</label>
                                <a id="downloadFileBukti" href="" download="" class="form-control btn btn-info" onclick=""><i class="fas fa-download"></i> Current File</a>

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="group_name">New File</label>
                                @*<input type="file" class="form-control-file" id="newfileBukti">*@
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input onchange="validateSize(this)" type="file" class="custom-file-input" id="newfileBukti"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" id="fileBuktiLabel">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlTextarea1">Notes</label>
                                <textarea required class="form-control" id="leavingMessage" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlTextarea1">Approval Message</label>
                                <textarea disabled class="form-control" id="approvalMessage" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="modalFooterUpdate">
                        <button type="button" class="btn btn-danger" id="btnCancel"> Cancel Request</button>
                        <button type="submit" class="btn btn-primary" id="btnApprove"> Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   
}


@section CSSnya {
    
}

@section JSnya {
    <script src="~/js/tools.js"></script>
    <script src="~/js/leaveHistories.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
}