<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="FlexStart/assets/css/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="~/img/new-logo-fav-removebg-preview.png" rel="icon">
</head>
<body>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright 2022 <strong><span>e-Cuti</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="~/js/error.js"></script>
</body>
</html>
