
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_FrontLayout";
}

<div class="container">
    <div class="container-fluid h-custom ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-7 col-xl-6">
                <img src="~/FlexStart/assets/img/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-5">
                <form id="formLogin" method="POST">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Forgot Password</p>
                    </div>

                    <br />

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="LoginEmail" class="form-control"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">We send the OTP yo your email address</label>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section id="contact">
</section>

@section JSnya {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/login.js"></script>
}